@import './sass/materialize.scss';
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&display=swap');

html {
  background: darken($color: $primary-color, $amount: 15);
}
body {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 3%;
  min-width: 100px;
  max-width: 300px;
  color: $secondary-color;
}

a.btn, a>i, .btn > span {
  color: $primary-color;
  font-weight: bold;
}

.tabs {
  display: flex;
  justify-content: space-evenly;

  .tab {
    flex: 1;
    a {
      font-size: 1.3em;
      letter-spacing: 1px;
      font-weight: bold;
      &:focus.active {
        background: inherit;
      }
    }
  }
  .indicator {
    background: $primary-color;
    height: 5px;
  }
}

.content-area {
  border: 5px solid $primary-color;
  h3 {
    @extend .center;
    padding: 16px 16px;
  }
}


.upload-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-bottom: 0;
  min-height: 50vh !important;
  min-width: 50vw;
  height: fit-content;

  textarea,
  input {
    color: white;
  }

  #tab-url {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    flex-grow: 1;
    padding-bottom: 0.5em;
  }

  #tab-freetext {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    padding-bottom: 1em;

    textarea.materialize-textarea {
      flex: 1;
      height: 100%;
      max-height: 350px;
      overflow-y: scroll;
    }
  }

  #text-to-copy {
    max-height: 400px;
    overflow-y: scroll;
  }

  #tab-file {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    padding-bottom: 1em;

    .progress-bar {
      .progress {
        background: $secondary-color;

        .determinate {
          background: $secondary-color;
        }
      }
    }
  }
}

.tab-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  .qrcode-wrapper {
    align-self: center;
    display: flex;
    min-width: 150px;
    min-height: 150px;
    margin: 8px;
    border: 2px solid $secondary-color;
    img {
      flex: 1;
    }
  }
}