<div class="container">
  <div class="row">
    <div class="upload-container">
      <h3>Shared Text</h3>
      <div class="container">
        <p><%- data.replace(/\\n/g, '<br>') %></p>
      </div>
    </div>


    <div class="logo">
      <img class="responsive-img" src="/images/assets/logo.png" alt="">
    </div>
  </div>
</div>