<div class="tab-wrapper">
  <div class="input-field">
    <textarea id="freetext-field" class="materialize-textarea" maxlength="10000"></textarea>
    <label for="freetext-field"><%= language.contents.tabs.text.placeholder %></label>
  </div>
  <div class="qrcode-wrapper freetext"></div>
  <a id="submit-freetext" href="#" class="waves-effect waves-light btn"><%= language.contents.submitButton %></a>
</div>