<div class="input-field">
  <textarea id="freetext-field" class="materialize-textarea"></textarea>
  <label for="freetext-field">Paste your text here</label>
</div>
<div class="qrcode-wrapper freetext" style="display: none;"></div>
<a id="submit-freetext" href="#" class="waves-effect waves-light btn">Drop</a>