<div class="input-field">
  <input type="text" id="url-field">
  <label for="url-field">URL</label>
</div>
<div class="qrcode-wrapper url" style="display: none;"></div>
<a id="submit-url" href="#" class="waves-effect waves-light btn">Drop</a>